::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow: scroll;
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
}